@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;1,300;1,400&family=Raleway:ital,wght@0,300;1,300&display=swap');
// font-family: 'Montserrat', sans-serif;
// font-family: 'Raleway', sans-serif;
body {
    margin: 0;
    div.coming-soon {
        display: grid;
        position: relative;
        width: 100vw;
        height: 100vh;
        justify-content: center;
        align-items: center;
        div.content {
            h1 {
                position: relative;
                display: block;
                margin: 0 0 10px 0;
                font-family: 'Montserrat', sans-serif;
                font-weight: 400;
                font-size: 36px;
                line-height: 42px;
                text-align: center;
            }
            p {
                position: relative;
                display: block;
                font-family: 'Raleway', sans-serif;
                font-size: 18px;
                line-height: 24px;
                font-weight: 300;
                text-align: center;
                a {
                    color: #f75d5d;
                    text-decoration: none;
                }
            }
        }
    }
}